<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    <script>
        function paymentRequest() {
            fetch('/api/orders/carttest')
                .then(response => response.json())
                .then(orderRequest => {
                    console.log("Order Request:", JSON.stringify(orderRequest, null, 2));
                    PortOne.requestPayment({
                        storeId: orderRequest.storeId,
                        channelKey: orderRequest.channelKey,
                        paymentId: orderRequest.paymentId,
                        orderName: orderRequest.orderName,
                        totalAmount: orderRequest.totalAmount,
                        currency: orderRequest.currency,
                        payMethod: orderRequest.payMethod,
                        customData: orderRequest.customData,
                        customer: {
                            customerId: orderRequest.customer.userId,
                            name: orderRequest.customer.name,
                            email: orderRequest.customer.email,
                            address: {
                                addressLine1: "seoul",
                                addressLine2: "korea"
                            }
                        },
                        products: orderRequest.products
                    }).then(function (response) {
                        console.log("=================="+JSON.stringify(response, null, 2));

                        jQuery.ajax({
                            url: "/api/payment",
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            data: JSON.stringify(response)
                        }).done(function (data) {
                            console.log(data.status);
                        });
                    }).catch(error => console.error('Payment Error:', error));
                })
                .catch(error => console.error('Fetch OrderRequest Error:', error));
        }
    </script>
    <meta charset="UTF-8"/>
    <title>Sample Payment</title>
</head>
<body>
<button onclick="paymentRequest()">결제하기</button>
</body>
</html>